<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLGUIProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLGUIProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Server1" connectionString="Data Source=Server1;Initial Catalog=DatabaseOnServer1;Persist Security Info=True;User ID=tempUser;Password=tempPassword"
            providerName="System.Data.SqlClient" />
        <add name="Server2" connectionString="Data Source=Server1;Initial Catalog=DatabaseOnServer1;Persist Security Info=True;User ID=tempUser;Password=tempPassword"
            providerName="System.Data.SqlClient" />
        <add name="Server3" connectionString="Data Source=Server1;Initial Catalog=DatabaseOnServer1;Persist Security Info=True;User ID=tempUser;Password=tempPassword"
            providerName="System.Data.SqlClient" />
        <add name="Server4" connectionString="Data Source=Server1;Initial Catalog=DatabaseOnServer1;Persist Security Info=True;User ID=tempUser;Password=tempPassword"
            providerName="System.Data.SqlClient" />
        <add name="Server5" connectionString="Data Source=Server1;Initial Catalog=DatabaseOnServer1;Persist Security Info=True;User ID=tempUser;Password=tempPassword"
            providerName="System.Data.SqlClient" />
        <add name="SQLGUIProject.Properties.Settings.Server1" connectionString="Data Source=Server1;Initial Catalog=DatabaseOnServer1;Persist Security Info=True;User ID=tempUser;Password=tempPassword"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SQLGUIProject.Properties.Settings>
            <setting name="PathToXML" serializeAs="String">
                <value>Resources\SQLGUIProject.xml</value>
            </setting>
            <setting name="PathToDefaultXML" serializeAs="String">
                <value>Resources\default.xml</value>
            </setting>
        </SQLGUIProject.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SQLGUIProject.Properties.Settings>
            <setting name="cusTxtColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusTxtBoxColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusButtonColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusGridColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusGridTxtColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusGridHeaderColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusActiveTxtBoxColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusInactiveTxtBoxColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="customThemeSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cusGroupBoxColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusSecGridColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusSecGridTxtColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusGridSelectColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusGridSelectTxtColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusSecGridSelectColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusSecGridSelectTxtColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusTabColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusTabTxtColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusPressedTabColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusPressedTabTxtColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusTabBorderColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusFont" serializeAs="String">
                <value />
            </setting>
            <setting name="cusHyperLnkColor" serializeAs="String">
                <value />
            </setting>
            <setting name="cusFontSize" serializeAs="String">
                <value>8.25</value>
            </setting>
            <setting name="cusFontInd" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PathToChangelog" serializeAs="String">
                <value>Resources\ChangeLog.txt</value>
            </setting>
        </SQLGUIProject.Properties.Settings>
    </userSettings>
</configuration>